*{
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black; 
    min-height: 100%;
}

/* Navbar */

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    background-color: black;
    top: 0px;
}

#lan-nav{
    display: flex;
    position: fixed;
}

@media screen and (min-width: 1000px) {
    .bgcont, .landingnav, .navbar-list { 
    display: flex;    
    flex-direction: row;
    }
}

@media screen and (max-width: 1000px) {
    .bgcont, .landingnav, .navbar-list { 
    display: flex;    
    flex-direction: column;
    }
}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
    align-items: center;
}

.landingnav{
    align-items: center;
}

.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    padding-left: 7%;
}

@media screen and (min-width: 1000px) {
    .navbar-brand{
        margin-left: 5%;
    }
    .navbar-list{
        width: 70%;
    }
    .nav-container, .landingnav{
        height: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-list{
        width: 100%;
        margin: 4%
    }
    .nav-container, .landnav{
        height: 100px;
    }
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

a:hover{
    color:rgb(136, 2, 136)
}

/* Main Landing */

.bgcont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    
}

@media screen and (min-width: 1000px) {
    .welcome{
        margin-top: 15%;
    margin-bottom: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .welcome{
        margin-top: 10%;
        margin-bottom: 0;
    }  
}

.welcome{
    color: whitesmoke;
}

.welcenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcrunch{
    font-size: 4vw;
    
}

.realgym{
    font-size: 1.5vw;
}

.welcomeline{
    color: whitesmoke;
    width:70%
}

/* Event Section */
.eventbg{
    width: 100%;
    position: absolute;
}

.eventbgimg{
    width:100%;
    position: absolute;
    z-index: -1;
}

.eventhead{
    display: flex;
    justify-content: center;
}

.eventtit{
    font-size: 2vw;
    color:whitesmoke;
    background: rgba(0, 0, 0, .5);
    margin-top: 4%;
}
.event-container{
    color: whitesmoke;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
} 

/* Event Calendar */

.calinfo{
    background-color: rgba(0, 0, 0, .5);
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

td, th{
    border: 1px solid gainsboro;
    text-align: left;
    padding: 8px;
    width: 12.5%;
}

th{
    font-weight: 900; 
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

.cal{
    width: 70%
}

/* Footer - Landing */

footer{
    margin-top: 8%;
    position: relative;
    bottom: 0;
}
.tiny{
    font-size: x-small;}

    .bottom{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    bottom: 0%
}

.map{
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.footimg{
    max-height: 150px;
}

.footer-info{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em
}

.footshows{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em
}

.socials{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em
}

.foothead{
    font-size: 2vw;
}

/* About page */
/* Header */


.headcont{
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    height: 35%;
}

.headbg{
    position: absolute;
    z-index: -1;
}

.aboutus{
    color: whitesmoke;
    font-size: 600%;
    margin-top: 200px;
    background: rgba(0, 0, 0, .4);
}

/* About Navbar specifics */

.aboutnav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
}
.aboutnavlist{
    width: 80%
}

.aboutnavitem{
    margin: 10px;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
}

/* Event Info Section */

.eventtiles{
    background-color: white;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.event-info-container{
    display: flex;
    justify-content: center;
}

.event-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 4.5%;
    margin-bottom: 2.5%;
}

.event-text{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column
}

.imagecont{
    margin-right: 20px;
    display: flex;
    align-self: center;
}

@media screen and (min-width: 1000px) {
    .eventimg{
        width: 500px
    }
}

@media screen and (max-width: 1000px) {
    .eventimg{ 
        width: 300px
    }
}


.infoheader{
    font-size: 1.5vw;
}

.infobox{
    display: flex;
    padding-top: 5%;
    padding-bottom: 4%;
    width: 80%;
    align-self: center;
}

.regbutton{
    display: flex;
    align-items: center;
}

.regbuttoncont{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
}

.register{
    font-size: 1.5vw;
    background-color: rgb(114, 108, 94);
    border: 1px solid darkgrey;
    color: white;
    border-radius: 5px;
}

.panelhr{
    width: 70%;
    margin-bottom: 1%;
}

/* Pro Grid */
.wrap-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px
}

.box{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.grid-image{
    display: flex;
    object-fit: cover;
    width: 300px;
    height: 400x;

}

.grid-text{
    text-align: center;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 0  black,
                  1px 1px 0 black,
                  -1px -1px 0 black
}

/* Contact the Pros */
.form{
    display: flex;
    flex-direction: column;
}

.formtitle{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contactpro{
    margin: 2%;
    padding: 2%;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.contactpro{
    color: whitesmoke;
}

.formcont{
    display: flex;
    justify-content: center;
}

form{
    display:flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
    padding: 5px;
    background-color: rgb(41, 46, 41);
    border: 3px solid whitesmoke;
    border-radius: 5px;
    width: 40%;
}

button{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.inputinfo{
    width: 60%
}

.response{
    display: inline
}   